---
import GithubLogo from "../icons/GithubLogo.astro";
import LinkLogo from "../icons/LinkLogo.astro";
---

<div {...Astro.props} class="w-full border border-[#444444] animate__animated">
    <div>
        <img src="https://placehold.co/600x400" alt="App preview" />
    </div>
    <div class="px-4 py-4">
        <h3 class="text-2xl py-2">Ticket event selling app</h3>
        <p class="text-balance text-gray-500 text-sm">
            Platform for selling tickets for events, personilize them, handle
            discount codes and check them using camera and NFC.
        </p>
        <div class="w-full flex flex-row gap-x-2 justify-end">
            <button
                class="flex flex-row items-center bg-[#CBFE47] rounded-lg px-3 py-2 mt-4 text-black hover:bg-transparent hover:text-[#CBFE47] hover:outline hover:outline-2 hover:outline-[#CBFE47]"
            >
                <GithubLogo class="h-5 w-5 mr-1"/>
                <span>
                    Github
                </span>
            </button>
            <button
                class="flex flex-row items-center bg-[#CBFE47] rounded-lg px-3 py-2 mt-4 text-black hover:bg-transparent hover:text-[#CBFE47] hover:outline hover:outline-2 hover:outline-[#CBFE47]"
            >
                <LinkLogo class="h-5 w-5 mr-1"/>
                <span>
                    Visit
                </span>
            </button>
        </div>
    </div>
</div>
