<div class="w-full border border-[#444444]">
    <div>
        <img src="https://placehold.co/600x400" alt="App preview" />
    </div>
    <div class="px-4 py-4">
        <div class="flex flex-row justify-end gap-x-2">
            <div
                class="whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white"
            >
                <span class="">Vue.js</span>
            </div>
            <div
                class="whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white"
            >
                <span class="">Quasar</span>
            </div>
            <div
                class="whitespace-nowrap rounded-lg bg-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-white"
            >
                <span class="">Laravel</span>
            </div>
        </div>
        <h3 class="text-2xl py-2">Ticket event selling app</h3>
    </div>
</div>
