<section id="experience" class="w-[1400px] flex flex-wrap mt-12">
  <div class="flex flex-row justify-between items-center w-full">
    <h2 class="text-5xl text-bold">My lastest work</h2>

    <button
      style="background-color: #CBFE47; color:black; font-weight:bolder;"
      class="bg-white rounded-lg px-6 py-4 mt-3"
    >
      Browse portfolio
    </button>
  </div>
</section>
