---
import Project from "./Project.astro";
---

<section {...Astro.props} id="projects" class="flex items-end flex-wrap mt-12 px-6 md:px-12 animate__animated py-4">
  <div class="flex flex-row justify-between items-center w-full mb-12">
    <h2 class="text-3xl md:text-5xl text-bold">My lastest work</h2>

    <button
           class="bg-[#CBFE47] rounded-lg px-2 py-2 md:py-4 md:px-6 text-black hover:bg-transparent hover:text-[#CBFE47] hover:outline hover:outline-2 hover:outline-[#CBFE47]"
    >
      Browse Projects
    </button>
  </div>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 md:gap-15">
    <Project animate />
    <Project animate />
    <Project animate />
  </div>
</section>

<script type="module">
  const elements = document.querySelectorAll("div[animate]");
  const observer = new IntersectionObserver((entries) => {
  entries.forEach((entry) => {
    if(entry.isIntersecting) {
              entry.target.classList.add("animate__fadeIn");
          }
  });
});

  elements.forEach(e => observer.observe(e));
</script>
