---
import Project from "./Project.astro"
---
<section id="experience" class="flex items-end flex-wrap mt-12 px-12">
  
    <div class="flex flex-row justify-between items-center w-full mb-12">
      <h2 class="text-5xl text-bold">My lastest work</h2>
  
      <button
        style="background-color: #CBFE47; color:black; font-weight:bolder;"
        class="bg-white rounded-lg px-6 py-4 mt-3"
      >
        Browse portfolio
      </button>
    </div>
    <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-24">
      <Project /> 
      <Project /> 
      <Project /> 
    </div>
  
</section>
