<section
  {...Astro.props}
  id="home"
  class="w-full flex flex-wrap md:min-h-[550px] items-center px-6 md:px-12 animate__animated"
>
  <div
    class="w-full md:w-1/2 flex justify-center md:justify-start items-center"
  >
    <div
      class="flex items-end justify-center w-3/4 h-2/4 md:h-3/4 max-h-[540px] mb-1 md:mb-0 min-w-[240px] min-h-[240px]"
    >
      <img
        src="/images/me.svg"
        style="width: auto; height: 100%;"
      />
    </div>
  </div>

  <div class="w-full md:w-1/2">
    <div class="text-center md:text-left">
      <h1 class="text-4xl md:text-5xl lg:text-7xl font-extrabold">
        I'm Alexander <br /> Acuña
      </h1>
      <h2 class="text-2xl mt-3 text-[CBFE47]">Full Stack Developer</h2>
      <div class="w-max-[100px] mt-3">
        <p class="text-sm font-light text-gray-500 text-pretty max-w-[400px]">
          Bachelor's in Information Systems passionate about application
          development and Cloud Computing.
        </p>
      </div>

      <a
        href="https://drive.google.com/file/d/1e7GvZQUFH9_rsZYDRmYEBZDQbfsTPuvu/view?usp=sharing"
        class="inline-block bg-[#CBFE47] rounded-lg px-6 py-4 mt-4 text-black hover:bg-transparent hover:text-[#CBFE47] hover:outline hover:outline-2 hover:outline-[#CBFE47]"
      >
        Download CV
      </a>
    </div>
  </div>
</section>
