<section
  id="hero"
  class="w-full flex flex-wrap md:min-h-[550px] items-center px-6 md:px-12"
>
  <div class="md:w-1/2 flex justify-center md:justify-start items-center">
    <div
      class="flex items-end w-3/4 h-2/4 md:h-3/4 rounded-xl bg-gradient-to-t from-black to-[#CBFE47]"
    >
      <img
        src="/images/me.png"
        alt="A photo of me"
        height="100%"
        width="auto"
        class="mb-1 md:mb-0"
      />
    </div>
  </div>
  <div class="w-full md:w-1/2">
    <div class="text-center md:text-left">
      <h1 class="text-4xl md:text-7xl font-extrabold">
        I'm Alexander <br /> Acuña
      </h1>
      <h2 class="text-2xl mt-3 text-[CBFE47]">Full Stack Developer</h2>
      <div class="w-full md:max-w-[400px] mt-3">
        <p class="text-sm font-light text-gray-500">
          Bachelor's in Information Systems passionate about application
          development and Cloud Computing.
        </p>
      </div>

      <button
        class="bg-[#CBFE47] rounded-lg px-6 py-4 mt-4 text-black hover:bg-transparent hover:text-[#CBFE47] hover:outline hover:outline-2 hover:outline-[#CBFE47]"
      >
        Contact Me
      </button>
    </div>
  </div>
</section>
