<section
  id="hero"
  class="w-full flex flex-wrap min-h-[720px] items-center px-12"
>
  <div class="w-full md:w-1/2 flex justify-start items-center">
    <div class="w-3/4 h-80 rounded-xl bg-gradient-to-t from-black to-[#CBFE47]">
      <img
        src="/images/me.png"
        alt="A photo of me"
        width="100%"
        height="auto"
      />
    </div>
  </div>
  <div class="w-full md:w-1/2">
    <div class="text-center md:text-left">
      <h1 class="text-6xl md:text-8xl font-extrabold">I'm Alexander <br /> Acuña</h1>
      <h2 class="text-2xl mt-3" style="color: #CBFE47">Full Stack Developer</h2>
      <div class="w-full md:max-w-[400px] mt-3">
        <p class="text-sm font-light text-gray-500 ">
          Bachelor's in Information Systems passionate about application
          development and Cloud Computing.
        </p>
      </div>
      <button
        style="background-color: #CBFE47; color:black; font-weight:bolder;"
        class="bg-white rounded-lg px-6 py-4 mt-3"
      >
        Contact Me
      </button>
    </div>
  </div>
</section>
