---
import Vue from "../icons/skills/Vue.astro"
import Spring from "../icons/skills/Spring.astro"
import Java from "../icons/skills/Java.astro"
import Laravel from "../icons/skills/Laravel.astro"
import TypeScript from "../icons/skills/TypeScript.astro"
import JavaScript from "../icons/skills/JavaScript.astro"
import Php from "../icons/skills/Php.astro"
import MySql from "../icons/skills/MySql.astro"
import Ionic from "../icons/skills/Ionic.astro"
---
<section {...Astro.props} id="skills" class="flex flex-wrap mt-12 px-6 md:px-12 mb-12 min-h-[450px] md:min-h-[450px] animate__animated">
  <div class="flex flex-col justify-center items-center w-full">
    <h2 class="text-3xl md:text-5xl text-bold">My Skills</h2>
    <p class="text-gray-500 text-center mb-8 mt-4">These are the tools that I use to create awesome things</p>
    
      
  <div class="w-full flex justify-center items-center">
    <div class="flex flex-row justify-center justify-items-center items-center w-3/4 gap-x-12 gap-y-3 flex-wrap">
        <div class="w-[50px] flex flex-col justify-items-center items-center">
            <Vue /> 
            <span class="text-gray-500">
                Vue.js
            </span>
        </div>
        <div class="w-[50px] flex flex-col justify-items-center items-center">
            <Spring />
            <span class="text-gray-500">
                Spring
            </span>
        </div>
        <div class="w-[50px] flex flex-col justify-items-center items-center">
            <Java /> 
            <span class="text-gray-500">
                Java
            </span>
        </div>
        <div class="w-[50px] flex flex-col justify-items-center items-center">
            <Laravel/>
            <span class="text-gray-500">
                Laravel
            </span>
        </div>
        <div class="w-[50px] flex flex-col justify-items-center items-center">
            <TypeScript/>
            <span class="text-gray-500">
                TypeScript
            </span>
        </div>
        <div class="w-[50px] flex flex-col justify-items-center items-center">
            <Php/>
            <span class="text-gray-500">
                PHP
            </span>
        </div>
        <div class="w-[50px] flex flex-col justify-items-center items-center">
            <JavaScript/>
            <span class="text-gray-500">
                JavaScript
            </span>
        </div>
        <div class="w-[50px] flex flex-col justify-items-center items-center">
            <MySql/>
            <span class="text-gray-500">
                MySql
            </span>
        </div>
        <div class="w-[50px] flex flex-col justify-items-center items-center">
            <Ionic/>
            <span class="text-gray-500">Ionic</span>
        </div>
      </div>
  </div>
</div>
  
</section>
