---
import GithubLogo from "./icons/GithubLogo.astro";
import LinkedinLogo from "./icons/LinkedinLogo.astro";
---

<footer class="w-full max-w-[1280px] border-t border-[#444444]" id="contact">
	<div
		class="w-full my-12 flex flex-col md:flex-row justify-between items-start px-6 md:px-12"
	>
		<!-- Left Section -->
		<div
			class="w-full mb-6 md:mb-0 md:w-2/4 flex flex-col items-start md:pr-12"
		>
			<h4 class="text-4xl font-bold">Let's Connect</h4>
			<p class="text-gray-500 mt-4">
				If you are interested in my profile or have an interesting
				project, please contact me. I look forward to hearing from you
				and will respond promptly. Thank you for reaching out. Can you
				mail me at <a
					href="mailto:developer.alexander@outlook.com"
					class="text-[#CBFE47]">developer.alexander@outlook.com</a
				> or see my resume at <a
					href="https://drive.google.com/file/d/1e7GvZQUFH9_rsZYDRmYEBZDQbfsTPuvu/view?usp=sharing"
					class="text-[#CBFE47]">this link</a
				>?
			</p>

			<div class="mt-4">
				<ul class="flex flex-row gap-x-6">
					<li>
						<a href="https://www.linkedin.com/in/alexander-acuna-ramirez/" class="text-gray-500 hover:text-[#CBFE47]">
							<LinkedinLogo class="h-6 w-6 inline" />
							My Linkedin</a
						>
					</li>
					<li>
						<a href="https://github.com/alexander-acuna-ramirez" class="text-gray-500 hover:text-[#CBFE47]">
							<GithubLogo class="h-6 w-6 inline" />
							My Github</a
						>
					</li>
				</ul>
			</div>
		</div>

		<!-- Right Section -->
		<div class="w-full md:w-2/4">
			<form class="flex flex-col" action="https://formspree.io/f/xanwynbw" method="POST">
				<div>
					<label for="full_name">Full Name</label>
					<input
						required
						type="text"
						name="full_name"
						id="full_name"
						class="h-10 mt-1 px-4 w-full bg-transparent border border-gray-500"
						value=""
					/>
				</div>

				<div>
					<label for="email">Email Address</label>
					<input
						required
						type="text"
						name="email"
						id="email"
						class="h-10 mt-1 px-4 w-full bg-transparent border border-gray-500"
						placeholder="email@domain.com"
					/>
				</div>

				<div>
					<label for="subject">Subject</label>
					<input
						required
						type="text"
						name="subject"
						id="subject"
						class="h-10 mt-1 px-4 w-full bg-transparent border border-gray-500"
					/>
				</div>

				<div>
					<label for="message">Message</label>
					<textarea
						required
						name="message"
						id="message"
						class="mt-1 px-4 w-full bg-transparent border border-gray-500"
						rows="4"></textarea>
				</div>
				<div>
					<button
						type="submit"
						class="bg-[#CBFE47] rounded-lg px-6 py-4 mt-4 text-black hover:bg-transparent hover:text-[#CBFE47] hover:outline hover:outline-2 hover:outline-[#CBFE47]"
					>
						Get in touch
					</button>
				</div>
			</div>
		</div>
	</div>
	<div
		class="w-full py-6 px-12 flex flex-col justify-between md:flex-row border-t border-[#444444]"
	>
		<ul class="flex flex-row gap-x-4 flex-wrap justify-center">
			<li><a href="#home" class="text-gray-400 hover:text-white">Home</a></li>
			<li>
				<a href="#experience" class="text-gray-400 hover:text-white">Experience</a
				>
			</li>
			<li>
				<a href="#projects" class="text-gray-400 hover:text-white">Projects</a>
			</li>
			<li>
				<a href="#contact" class="text-gray-400 hover:text-white">Contact Me</a
				>
			</li>
		</ul>

		<div class="text-center">
			<span> Copyright © Alexander Developer </span>
		</div>
	</div>
</footer>
