---
const { name, color, text } = Astro.props;


---

<div
    style={{ backgroundColor: color }}
    class="whitespace-nowrap rounded-lg py-1.5 px-3 font-sans text-xs font-bold uppercase"
>
    <span style={{ color: text }}>{name}</span>
</div>
